/*
grid.css -- ControlZ default skin grid layout
*/


.applet-container {
	
	/*
	display: -webkit-box;
	display: -webkit-flex;
	-webkit-flex-flow: wrap;
	-webkit-flex-wrap: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    */
    
    display: flex;
    flex: 5 5 auto;
    
    
    -webkit-flex-grow: 10;
    -webkit-flex-shrink: 5;
    -webkit-flex-basis: auto;
    
    
    flex-flow: wrap;
    flex-grow: 10;
    flex-shrink: 5;
    flex-basis: auto;
	
	
	/*float: center;
	display: grid;
	display: flex;
	*/
	flex-wrap: wrap;
	justify-content: center;
	
	

	
}

.applet-default-grid-layout {
	width: 40vw;
	height: 20vw;
	
	min-width: 350px;
	min-height:200px;

	background-color: #FAFAFA;
	overflow: hidden;
	position: relative;
	margin: 0 0;
	/* box-shadow: 0px 0px 10px #88888; */
	/* border: 1px solid black; */
}